* {
  box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
  nav{
    background-color: #c4ad18;
    background-image: url(download.jpg);
    width:auto;
    height: 150px;
    border:5px solid white;
    border-radius: 2px ;
  }

}
nav{
  background-color: #c4ad18;
  background-image: url(download.jpg);
  width:auto;
  height: 60px;
  border:0px solid white;
  border-radius: 5px ;
}
ul li{
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display:inline-flex;
  padding: 5px;
  text-align: center;
  position:relative;
}
ul li a{
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  font-size: 120%;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  font-family: pacifico;
  border: 1px transparent ;
  color: white;
}
ul li.adft a:hover{
  font-size: 30px;
  font-weight: bolder;
  border:5px transparent;
  border-radius: 15px;
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color:purple;
  padding: 2px 2px;
  transition: 0.3s ease;
}
ul li.adf a:hover{
  font-size: 30px;
  font-weight: bolder;
  border:5px transparent;
  border-radius: 5px;
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color:purple;
  padding: 2px 2px;
  transition: 0.3s ease;
}
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
@font-face {
  font-family:Bungeeshade;
  src: url(Bungeeshade.woff) format("woff");
  src:url(Bungeeshade.woff2) format("woff2");
}
@font-face {
  font-family: pacifico;
  src: url(pacifico-regular-webfont.woff) format("woff");
  src: url(pacifico-regular-webfont.woff2) format("woff2");
}
